<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.example.mapper.DeviceMapper">

    <select id="selectAllDevice" resultType="Device">
        select * from device
    </select>

    <select id="selectDeviceById" resultType="Device">
        select * from device where id = #{id}
    </select>

    <update id="updateDevice" parameterType="Device">

    </update>

    <delete id="deleteDeviceById">
        delete from device where id = #{id}
    </delete>



</mapper>