<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.example.mapper.DeviceMapper">

    <select id="selectAllDevice" resultType="Device">
        select * from device
    </select>

    <select id="selectDeviceById" resultType="Device">
        select * from device where id = #{id}
    </select>
    
    <select id="selectDeviceByPage" resultType="Device">
        select * from device
        limit #{offset}, #{limit}
    </select>
    
    <select id="selectDeviceByName" resultType="Device">
        select * from device
        where device_name like concat('%', #{deviceName}, '%')
    </select>

   <select id="selectDeviceByWarehouseName" resultType="Device">
       select * from device
       join warehouse on device.warehouse_id = warehouse.id
       where warehouse_name like concat('%', #{warehouseName}, '%')
   </select>

    <update id="updateDevice" parameterType="Device">
        update device
        <set>
            <if test="deviceName != null">
                device_name = #{deviceName},
            </if>
            <if test="deviceCode != null">
                device_code = #{deviceCode},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId},
            </if>
            <if test="tempHighThreshold != null">
                temp_high_threshold = #{tempHighThreshold},
            </if>
            <if test="tempLowThreshold != null">
                temp_low_threshold = #{tempLowThreshold},
            </if>
            <if test="humiHighThreshold != null">
                humi_high_threshold = #{humiHighThreshold},
            </if>
            <if test="humiLowThreshold != null">
                humi_low_threshold = #{humiLowThreshold},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insertDevice" parameterType="Device">
        INSERT INTO device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceCode != null">
                device_code,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="tempHighThreshold != null">
                temp_high_threshold,
            </if>
            <if test="tempLowThreshold != null">
                temp_low_threshold,
            </if>
            <if test="humiHighThreshold != null">
                humi_high_threshold,
            </if>
            <if test="humiLowThreshold != null">
                humi_low_threshold,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">
                #{deviceName},
            </if>
            <if test="deviceCode != null">
                #{deviceCode},
            </if>
            <if test="warehouseId != null">
                #{warehouseId},
            </if>
            <if test="tempHighThreshold != null">
                #{tempHighThreshold},
            </if>
            <if test="tempLowThreshold != null">
                #{tempLowThreshold},
            </if>
            <if test="humiHighThreshold != null">
                #{humiHighThreshold},
            </if>
            <if test="humiLowThreshold != null">
                #{humiLowThreshold},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
        </trim>
    </insert>

    <!-- 删除设备   -->
    <update id="deleteDeviceById">
        update device
        set delete_time = CURRENT_TIMESTAMP
        where id = #{id}
    </update>


</mapper>