<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.example.mapper.UserMapper">

    <insert id="register">
        insert into users(username, password) values(#{username}, #{password})
    </insert>
    <select id="login" resultType="com.example.Common.pojo.User">
        select * from users where username=#{username}
    </select>
</mapper>